@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
.content {
    background-color: #444;
    color: lightgray;
    max-width: 1200px;
    display: flexbox;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    margin-top: 10vh;
    text-align: center;
    font-family: Oswald;
}
.to-main-page{
    display: flexbox;
    text-align: center;
    margin-top: 2vh;
}