h1 {
    text-align: center;
}

.submit-button {
    margin-right: auto;
    margin-left: auto;
}

.content {
    background-color: #444;
    max-width: 500px;
    display: flexbox;
    margin: auto;
    padding: 50px;
    color: lightgray;
    border-radius: 15px;
    margin-top: 10vh;
}

body {
    background-color: #333;
}