.notif-success{
    background-color: #444;
    border-color: rgb(16, 218, 16);
    border-radius: 20px;
    color: rgb(16, 218, 16);
    margin: 10px
}

.notif-success h2{
    color:#777;
    font-size: 20px;
}

.notif-danger{
    background-color: #444;
    border-color: rgb(218, 16, 16);
    border-width: 2px;
    border-radius: 20px;
    color: rgb(218, 16, 16);
}

.notif-success h2{
    color:#777;
    font-size: 20px;
}

