{% extends "base.html" %}

{% block content %}
<div class="content">
    <link rel="stylesheet" href="/static/css/game_loaded.css">
    <h1>Ваша игра успешно направлена на модерацию!</h2>
    <h3>Модератор одобрит или отклонит вашу игру в течение 1-2 дней.</h2>
    <h3>После этого она станет доступна для просмотра всем пользователям.</h2>
    <h5>Отследить статус модерации можно в профиле.</h4>
</div>
<div class="to-main-page"><a class="btn btn-dark" href="/" role="button">На главную</a></div>
{% endblock %}