{% extends "base.html" %}
{% block content %}

<div class="name content">
    <h1>{{game.name}}</h1>
</div>

<div div id="carouselExampleIndicators" class="carousel slide frame-image content" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for photo in photos %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{loop.index0}}" {% if loop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for photo in photos %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
                <img class="d-block w-100" src="{{ photo.path }}" alt="{{ loop.index0}} Slide">
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>

<div class="content">
    <p>{{ game.description }}</p>
</div>

<div class="content">
    <a class="btn btn-primary" href="/profile/{{ author.nickname }}">Перейти к автору</a>
    {% if game.in_moderate and current_user.is_moderator %}
    <div class="buttons-end">
        <a class="btn btn-success" href="/public-game-access/{{game.name}}">Опубликовать игру</a>
        <a class="btn btn-danger" href="/block-game-access/{{game.name}}">Отправить на доработку</a>
    </div>
    {% endif %}
    {% if not game.in_moderate and current_user.is_moderator %}
    <div class="buttons-end">
        <a class="btn btn-danger" href="/block-game-access/{{game.name}}">Удалить из общего доступа</a>
    </div>
    {% endif %}
</div>
{% if not game.in_moderate %}
<div class="comments-block">
    <h2>Комментарии</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text(class="form-control form-control-lg", placeholder="Комментарий", style="width: 50%") }}
            {% for error in form.text.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-dark")}}</p>
    </form>
    {% for comment in comments %}
        <div class="comment">
            {% if comment.user.is_moderator or comment.user.id == game.author %}
                <a href="/profile/{{comment.user.nickname}}" style="color: yellow"><h2>{{comment.user.nickname}}</h2></a>
            {% else %}
                <a href="/profile/{{comment.user.nickname}}" style="color: inherit"><h2>{{comment.user.nickname}}</h2></a>
            {% endif %}
            {% if comment.user.is_moderator%}
                <h6 style="color: yellow" >(Модератор)</h6>
            {% endif %}
            {% if comment.user.id == game.author %}
                <h6 style="color: yellow">(Автор)</h6>
            {% endif %}
            <h5>{{comment.text}}</h5>
            {% if comment.user == current_user or current_user.is_moderator %}
            <a href="/delete_comment/{{comment.id}}" class="btn btn-danger">Удалить</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}