{% extends "base.html" %}
{% block content %}

{% for notif in notifications %}
    <div class="content">
    <div class="notif-{% if notif.status_nice %}success{% else %}danger{% endif %}" role="alert">
        <h1>{{notif.game_name}}</h1>
        <p>
            {% if notif.status_nice %}
            Ваша игра успешно опубликована
            {% else %}
            Ваша игра отклонена
            {% endif %}
        </p>
        <h2>{{notif.created_date}}</h2>
    </div>
    </div>
{% endfor %}

{% endblock %}